@use "../variables" as *;

.gallery {
    background-color:$navGreen;
    padding:70px 0 70px 0 ;
  .container {
    .galleryTitle {
      padding: 60px 0;
      color: $navShgrey;
      font-size: 20px;
      font-weight: 700;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      text-align: center;
      font-size: 40px;
    }
    .images {
        border: 10px solid $navShgrey;
        background-color: $navShgrey;
      display: grid;
      gap: 10px;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr ;
      grid-template-areas:
        "item1 item1 item2 item3 item4 item4 item4 item4"
        "item5 item5 item5 item6 item6 item6 item7 item8"
        "item9 item9 item10 item10 item11 item11 item12 item12"
        "item13 item13 item14 item14 item15 item15 item16 item16";
      img {
        width: 100%;
        height: 180px;
        object-fit: cover;
        transform: scale(1);
        &:hover {
          transform: scale(1.1);
        }
      }
    }
    .images img:nth-child(1) {
      grid-area: item1;
    }
    .images img:nth-child(2) {
      grid-area: item2;
    }
    .images img:nth-child(3) {
      grid-area: item3;
    }
    .images img:nth-child(4) {
      grid-area: item4;
    }
    .images img:nth-child(5) {
      grid-area: item5;
    }
    .images img:nth-child(6) {
      grid-area: item6;
    }
    .images img:nth-child(7) {
      grid-area: item7;
    }
    .images img:nth-child(8) {
      grid-area: item8;
    }
    .images img:nth-child(9) {
      grid-area: item9;
    }
    .images img:nth-child(10) {
      grid-area: item10;
    }
    .images img:nth-child(11) {
      grid-area: item11;
    }
    .images img:nth-child(12) {
      grid-area: item12;
    }
    .images img:nth-child(13) {
      grid-area: item13;
    }
    .images img:nth-child(14) {
      grid-area: item14;
    }
    .images img:nth-child(15) {
      grid-area: item15;
    }
    .images img:nth-child(16) {
      grid-area: item16;
    }
  }
}
