$white:#fff;
$pink:#ED078B;
$darkBlue:#423F8D; 
$lightBlue:#1F97D4;
$aquaBlue:#12D9DF;
$yellow: #fbce0f;
$black:rgb(0, 0, 0);
$grey:#5e5e5e;
$milkColor:#f3eeda;
$inkColor:#2c234d;
$footerBlue:#4255A4;
$footerlightBlue:#5873d3;
$lightGrey: #ced4da;
$menuGray:#4c4c4c;













