$white:white;
$navBlack:rgba(0, 0, 0, 0.7);
$navGreen:#bac964;
$navList:rgb(171, 166, 166);
$navShgrey: rgb(106, 103, 103);
$heroGrey:rgb(187, 182, 182);
$headerGrey:rgb(80, 78, 78);
$shadowBlack:rgb(92, 91, 91);
$blueShadov:rgb(128, 195, 236);
$portfolioBg:#212529;
$titleColor:rgb(146, 144, 144);
$interestColor: rgb(0, 0, 0);
$blue: #0766c5;



